<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sourav.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RockActivity"
                  android:label="@string/rock"
                  android:parentActivityName=".MainActivity"/>
        <activity android:name=".JazzActivity"
                  android:label="@string/jazz"
                  android:parentActivityName=".MainActivity"/>
        <activity android:name=".BluesActivity"
                  android:label="@string/blues"
                  android:parentActivityName=".MainActivity"/>
        <activity android:name=".FolkActivity"
                  android:label="@string/folk"
                  android:parentActivityName=".MainActivity"/>
        <activity android:name=".CountryActivity"
                  android:label="@string/country"
                  android:parentActivityName=".MainActivity"/>
        <activity android:name=".PopActivity"
                  android:label="@string/pop"
                  android:parentActivityName=".MainActivity"/>
    </application>

</manifest>